# Supabase Configuration
SUPABASE_URL=postgresql://postgres:Sehas@2486!@db.icpjmnkgafiymnquwtbs.supabase.co:5432/postgres


# Firebase FCM Configuration (for Push Notifications)
FIREBASE_PROJECT_ID=sehas-a97ae
FIREBASE_SERVER_KEY=your-fcm-server-key

# API Configuration
PORT=8000
DEBUG=true
