# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distributions and packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
env/
.venv/
.env
Traning/venv/

# Jupyter and IDEs
.ipynb_checkpoints/
.vscode/
.idea/

# macOS
.DS_Store

# Data and Logs
*.csv
*.log
*.dat
Dataset/


backend/services/firebase-auth.json
